/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

body {
    height: 100%;
    width: 100%;
}
.top-nav-bar {
    display: flex;
    background-color: #0fb9b1;
    background-size: cover;
    height: 12%;
    width: 101%;
    align-items: center;
    margin: -10px 50px 30px -10px;
    padding: 10px auto;
}

h1, label {
    font-family: 'Roboto', sans-serif;
}

#headerText {
    justify-content: center;
    letter-spacing: 0.8px;
    align-self: center;
    justify-content: baseline;
    line-height: 1.8px;
    padding: 20px;
}

#addRecipeBtn {
    margin-left: auto;
    margin-right: 40px;
    border-radius: 8px;
    height: 40px;
    width: 120px;
    border: none;
}

.container {
    background-image: url(assets/burger-friends.jpg);
    background-size: cover;
    height: 800px;
    width: 1600px;
    margin: -30px -20px;
    display: flex;
    justify-content: center;
    align-items: space-between;
}

.modal {
    background-color: rgba(225, 225, 225, .9);
    width: 550px;
    height: 350px;
    margin: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cookpot {
    width: 150px;
    height: 150px;
    align-self: center;
}

#asterisk {
    color: #ee5253;
}

#promptText {
    margin: 40px 30px;
}

form {
    display: flex;
    flex-direction: column;
    margin: -23px auto 25px 15px;
}

label {
    margin: 10px;
}

#letsCook {
    background-color: #0fb9b1;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 35px;
    margin: 6.5px 5px 5px;
    padding-left: auto;
}

.hidden {
    display: none;
}

.meal, .pre-text {
    margin: 0 auto;
}

.meal {
    font-size: 48px;
    font-weight: 400;
}

.pre-text {
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
}



